 .App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: white;
  padding-block-start: 200px;
}

#button {
  margin: 15px;
}

h1 {
  font-size: 100px; 
  font-family: Arial,  
      Helvetica, sans-serif; 
  background: linear-gradient( 
      to right, #47ff54, #7aff83, 
       #47e0ff, #b3d1ff); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
}


img {
  width: 300px;
}